@import '../../../../styles.scss';

header {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    background-color: #FFFCF3;
    @include d-flex($jc: space-between);
    font-family: "Syne", sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 32px 64px;
    span {
        cursor: pointer;
    }
    img {
        cursor: pointer;
        height: 32px;
    }
}
