@import "../../../styles.scss";

h1 {
  font-family: "Syne", sans-serif;
  display: block;
  font-size: 78px;
  font-weight: 800;
  z-index: 20;
  background-color: #fffcf3;
  padding: 0 16px;
  &:hover {
    color: #5987ff;
  }
}

section {
  @include d-flex();
  padding: 160px 0 80px 0;
  .container {
    @include d-flex($fd: column);
    width: 90%;
    height: 600px;
    .skill-container {
      box-sizing: border-box;
      padding: 161px 141px 141px 141px;
      border: 4px solid black;
      width: 100%;
      margin-top: -45px;
      @include d-flex($jc: center, $g: 78px);
      flex-wrap: wrap;
      .singleSkill {
        @include d-flex($fd: column, $g: 10px);
        font-family: "Overpass", sans-serif;
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        &:hover {
          color: #5987ff;
        }
        .icon {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

.animate {
  animation: animation 0.5s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes animation {
  0% {
    transform: translateX(0) scale(1);
  }

  20% {
    transform: translateX(50px) scale(1);
  }
  30% {
    transform: translateX(80px) scale(1);
  }
  40% {
    transform: translateX(30px) scale(0.9);
  }

  50% {
    transform: translateX(0px) scale(0.8);
  }
  60% {
    transform: translateX(-30px) scale(0.9);
  }

  70% {
    transform: translateX(-80px) scale(1);
  }
  80% {
    transform: translateX(-50px) scale(1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
