<section>
    <div>
        <h1>About me</h1>
        <div class="content">
            <div class="left">
                @if (!translateService.translated) {
                <div>
                    Ich bin ein Junior Frontend-Entwickler mit Sitz in Luzern, Schweiz. Dank meiner Erfahrung und
                    Leidenschaft für die Webentwicklung verwandle ich Designkonzepte und funktionale Anforderungen in
                    ansprechende und benutzerfreundliche Webanwendungen. Mein Schwerpunkt liegt in der Entwicklung von
                    Business-Applikationen, die ich mithilfe von HTML, CSS und TypeScript/JavaScript oder des
                    Frontend-Frameworks Angular zum Leben erwecke. Auf der Suche nach neuen Herausforderungen strebe ich
                    danach, meine Karriere als Junior-Webentwickler voranzutreiben. Wenn du oder dein Unternehmen
                    Interesse an einem engagierten Teammitglied habt, das dazu beiträgt, eure Projekte erfolgreich
                    umzusetzen, freue ich mich über eine Kontaktaufnahme!
                </div>
                } @else {
                <div>
                    I am a Junior Frontend Developer based in Lucerne, Switzerland. Thanks to my experience and passion
                    for web development, I transform design concepts and functional requirements into appealing and
                    user-friendly web applications. My focus lies in the development of business applications, which I
                    bring to life using HTML, CSS, and TypeScript/JavaScript or the Angular frontend framework. In
                    search of new challenges, I strive to advance my career as a Junior Web Developer. If you or your
                    company are interested in a dedicated team member who contributes to successfully implementing your
                    projects, I look forward to hearing from you!
                </div>
                }

                <a href="#contact"><button data-aos="fade-up" data-aos-duration="500" class="btn">Let's
                        talk</button></a>

            </div>
            <div class="image-container">
                <img data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000"
                    src="assets/img/photo_small_without_background.png" alt="">
                <div class="frame">

                </div>
            </div>
        </div>
    </div>
</section>