<section>
    <div>
        <h1>About me</h1>
        <div class="content">
            <div class="left">
                <div>
                    Ich bin ein Front-End-Entwickler mit Sitz in Luzern, Schweiz. Durch meine Erfahrung und Leidenschaft
                    für die Umsetzung von Designideen in funktionale Webanwendungen unterstütze ich Designer und
                    Unternehmen dabei, ihre Visionen Wirklichkeit werden zu lassen. Auf der Suche nach neuen
                    Herausforderungen strebe ich danach, meine Karriere als Junior-Webentwickler voranzutreiben. Wenn
                    du oder dein Unternehmen Interesse an einem engagierten Teammitglied habt, das dazu beiträgt, eure Projekte erfolgreich
                    umzusetzen, freue ich mich über eine Kontaktaufnahme!

                </div>
                <a href="#contact"><button data-aos="fade-up" data-aos-duration="500" class="btn">Let's
                        talk</button></a>

            </div>
            <div class="image-container">
                <img data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000"
                    src="assets/img/photo_small_without_background.png" alt="">
                <div class="frame">

                </div>
            </div>
        </div>
    </div>
</section>