<section>
    <div>
        <h1>About me</h1>
        <div class="content">
            <div class="left">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nobis ad, repellendus quam porro unde eius
                    optio libero praesentium illum obcaecati deleniti aliquam nam animi repudiandae. Corporis velit nobis neque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nobis ad, repellendus quam porro unde eius
                    optio libero praesentium illum obcaecati deleniti aliquam nam animi repudiandae. Corporis velit nobis neque.
                    
                </div>
                <button class="btn">Let's talk</button>
            </div>
            <div class="image-container">
                <img src="../../../assets/img/photo_small_without_background.png" alt="">
                <div class="frame">

                </div>
            </div>
        </div>
    </div>
</section>