@import "../../../styles.scss";

h1 {
  font-family: "Syne", sans-serif;
  font-size: 78px;
  font-weight: 800;
  color: black;
  transition: color 0.225s ease-in-out;
  @media (max-width: 850px) {
    font-size: 56px;
  }
  @media (max-width: 580px) {
    font-size: 48px;
  }
  @media (max-width: 505px) {
    font-size: 40px;
  }
 
  &:hover {
    color: #5987ff;
  }
}

section {
  @include d-flex();
  padding-top: 96px;

  >div {
    @include d-flex($fd: column, $ai: flex-start, $g: 52px);

    width: 90%;
    max-width: 1920px; 
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 850px) {
      width: 80%;
      align-items: center;
    }
    
    .content {

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 48px;
      font-size: 23px;
      font-family: "Overpass", sans-serif;
      width: 100%;
      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .left {
        @include d-flex($fd: column,
          $ai: flex-start,
          $jc: flex-start,
          $g: 52px);
          max-width: calc(66% - 48px);
          @media (max-width: 975px) {
            max-width: calc(55% - 48px);
          }
          @media (max-width: 850px) {
            max-width: 100%;
          }
        >div {
          line-height: 32px;
          @media (max-width:850px) {
            text-align: center;
          }
        }
        a {
          align-self: center;
          @media (max-width: 850px) {
            display: none;
          }
        }
      }

      .image-container {
        @include d-flex($jc: flex-end);
        width: 50%;
        height: auto;
        position: relative;
        @media (max-width: 850px) {
          width: 90%;
        }

        .frame {
          position: absolute;
          width: 100%;
          height: 100%;
          border: 4px solid black;
          top: 16px;
          left: 16px;
          opacity: 0;
          transition: opacity 0.225s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
          background-color: #ced0cf;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  section {
    >div {
      width: 80%;

      .content {
        flex-direction: column;
        align-items: center;
        gap: 64px;
        .left {
          max-width: 100%;
          
        }
        .image-container {
          width: 90%;
          align-self: center;
        }
      }
    }

  }

  h1 {
    font-size: 38px;
    text-align: center;
  }



  .btn {
    display: none;
  }
}

@media (max-width: 390px) {
  section > div {
    width: 90%;
  }
  
}