@import "../../../../styles.scss";

section {
  @include d-flex();
  .container {
    @include d-flex($g: 32px, $jc: space-between);
    width: 100%;
    &:hover .frame {
      opacity: 1;
    }
    &:hover .frame img {
      transform: rotate(-135deg);
    }
  }
}

.left {
  filter: grayscale(1);
  width: 50%;
  max-width: 500px;
  align-self: flex-end;
  position: relative;
  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .frame {
    display: flex;
    align-items: center;
    border: 4px solid black;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.225s ease-in-out;
    >img {
      position: absolute;
      right: -34px;
      width: 64px;
      height: 64px;
      transition: transform 0.25s ease-in-out;
    }
  }
}

.mirror {
  transform: scale(-1, 1);
}

[data-aos="color-animation"] {
  filter: grayscale(1);
  transition-property: filter;

  &.aos-animate {
    filter: grayscale(0);
  }
}

.right {
  width: 50%;
  @include d-flex($fd: column);
  span {
    font-family: "Syne", sans-serif;
    font-size: 48px;
    font-weight: 700;
    align-self: flex-end;
  }

  .description {
    @include d-flex($fd: column, $ai: flex-start, $g: 16px);
    h2 {
      font-family: "Syne", sans-serif;
      font-size: 48px;
      font-weight: 800;
    }
    .technologies {
      color: #5987ff;
      font-size: 23px;
      font-family: "overpass", sans-serif;
    }
    p {
      font-family: "overpass", sans-serif;
      font-size: 16px;
    }
    .buttons {
      @include d-flex($g: 24px);
    }
  }
}

.row-reverse {
  flex-direction: row-reverse !important;
}

@media (max-width: 430px) {
  .row-reverse {
    flex-direction: column !important;
  }

  section {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    .container {
      flex-direction: column;
      width: 100%;
    }
  }

  .left {
    width: 85%;
    align-self: center;
    .preview-img {
      height: auto;
    }
    .frame {
      top: 4px;
      left: 4px;
      border-width: 2px;
      >img {
        width: 40px;
        height: 40px;
        right: -21px;
      }
    }
  }

  .right {
    width: 80%;
    span {
      font-size: 23px;
    }
    .description {
      h2 {
        font-size: 28px;
      }
    }
    .buttons {
      gap: 4px;
      width: 100%;
      >a {
        width: 50%;;
      }
      .btn {
        padding: 12px 8px;
        font-size: 18px;
        
        &:hover {
          padding: 12px 8px;
          font-weight: 400;
        }
        &:active {
          padding: 12px 8px;
          font-weight: 400;
        }
      }
    }
  }
}
