<section>
    <div class="seperator"></div>
    <div class="container">

        <div data-aos="fade-right" data-aos-duration="1000" data-aos-offset="400" class="say-hi">
            <h1>Say Hi!</h1>
        </div>
        @if (!translateService.translated) {
        <div class="form-container">
            @if (!mailSend) {
            <h3>Du möchtest über ein neues Projekt sprechen?</h3>
            <span>Sag hallo! Lass uns deine Ideen besprechen und sie verwirklichen</span>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-container">
                    <label hidden for="name">Dein Name</label>
                    <input  data-aos="fade-left" data-aos-duration="700" data-aos-offset="200" #name="ngModel"
                        [(ngModel)]="contactData.name" #nameInput type="text" id="name" name="name"
                        placeholder="Dein Name" required minlength="3">
                </div>
                @if (!name.valid && name.touched) {
                <span class="alert">Bitte gib mindestens 3 Buchstaben ein</span>
                }
                <div class="input-container">
                    <label hidden for="email">Deine Email</label>
                    <input data-aos="fade-right" data-aos-duration="700" data-aos-offset="200" data-aos-delay="200"
                        #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        placeholder="Deine Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                @if (!email.valid && email.touched) {
                <span class="alert">Bitte gib eine gütlige Emailadresse ein</span>
                }
                <div class="textarea-container">
                    <label hidden for="message">Deine Nachricht</label>
                    <textarea data-aos="fade-left" data-aos-duration="700" data-aos-offset="200" data-aos-delay="200"
                        #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" cols="50"
                        rows="10" placeholder="Deine Nachricht" required minlength="4"></textarea>
                </div>
                @if (!message.valid && message.touched) {
                <span class="alert">Bitte gib eine Nachricht mit mindestens 4 Zeichen ein</span>
                }
                <div class="checkbox-container">
                    <label for="privacy">Ich stimme der Erhebung, Verarbeitung und Nutzung meiner personenbezogenen
                        Daten
                        gemäß den <a href="datenschutz" target="_blank">Datenschutzrichtlinien</a> zu.</label>
                    <input #checkbox="ngModel" [(ngModel)]="contactData.checked" name="privacy" id="privacy"
                        type="checkbox" required>
                </div>
                @if (!checkbox.valid && checkbox.touched) {
                <span class="alert">Bitte stimme den Datenschutzrichtlinien zu, indem du das Kästchen ankreuzst.
                    Danke!</span>
                }
                <div data-aos="fade-up" data-aos-duration="700">
                    <input #submit type="submit" value="Nachricht senden"
                    [ngClass]="{'disabled-btn': !contactForm.valid}">
                </div>
                
            </form>
            } @else {
            <div data-aos="fade-up" data-aos-duration="600" class="mailsend-container">
                <h3>Vielen Dank, deine Anfrage wurde erfolgreich versendet</h3>
            </div>
            }


        </div>
        } @else {
        <div class="form-container">
            @if (!mailSend) {
            <h3>Would you like to talk about a new project?</h3>
            <span>Say hello! Let's discuss your ideas and bring them to life.</span>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-container">
                    <label hidden for="name">Your name</label>
                    <input data-aos="fade-left" data-aos-duration="700" data-aos-offset="200" #name="ngModel"
                        [(ngModel)]="contactData.name" #nameInput type="text" id="name" name="name"
                        placeholder="Your name" required minlength="3">
                </div>
                @if (!name.valid && name.touched) {
                <span class="alert">Please enter at least 3 letters.</span>
                }
                <div class="input-container">
                    <label hidden for="email">Your email</label>
                    <input data-aos="fade-right" data-aos-duration="700" data-aos-offset="200" data-aos-delay="200"
                        #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        placeholder="Your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                </div>
                @if (!email.valid && email.touched) {
                <span class="alert">Please enter a valid email address.</span>
                }
                <div class="textarea-container">
                    <label hidden for="message">Your message</label>
                    <textarea data-aos="fade-left" data-aos-duration="700" data-aos-offset="200" data-aos-delay="200"
                        #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" cols="50"
                        rows="10" placeholder="Your message" required minlength="4"></textarea>
                </div>
                @if (!message.valid && message.touched) {
                <span class="alert">Please enter a message with at least 4 letters.</span>
                }
                <div class="checkbox-container">
                    <label for="privacy">I agree to the collection, processing, and use of my personal data in accordance with the <a href="datenschutz" target="_blank">privacy policy</a>.</label>
                    <input #checkbox="ngModel" [(ngModel)]="contactData.checked" name="privacy" id="privacy"
                        type="checkbox" required>
                </div>
                @if (!checkbox.valid && checkbox.touched) {
                <span class="alert">Please agree to the privacy policy by checking the box. Thank you!</span>
                }
                <div data-aos="fade-up" data-aos-duration="700">
                    <input  #submit type="submit" value="Send"
                    [ngClass]="{'disabled-btn': !contactForm.valid}">
                </div>
                
            </form>
            } @else {
            <div data-aos="fade-up" data-aos-duration="600" class="mailsend-container">
                <h3>Thank you very much, your request has been successfully sent.</h3>
            </div>
            }


        </div>
        }
    </div>
</section>