<section (click)="hideLabel()">
    <div class="seperator"></div>
    <div class="container">

        <div data-aos="fade-right" data-aos-duration="1200" data-aos-offset="-200" class="say-hi">
            <h1>Say Hi!</h1>
        </div>
        <div class="form-container">
            <h3>Du möchtest über ein neues Projekt sprechen?</h3>
            <span>Sag hallo! Lass uns deine Ideen besprechen und sie verwirklichen</span>
            <form>
                <div class="input-container">
                    <label  for="name">Dein Name</label>
                    <input type="text" id="name" name="name" placeholder="Dein Name">
                </div>

                <div class="input-container">
                    <label hidden for="email">Deine Email</label>
                    <input type="email" id="email" name="email" placeholder="Deine Email">
                </div>

                <div class="input-container">
                    <label hidden for="message">Deine Nachricht</label>
                    <textarea name="message" id="message" cols="50" rows="10" placeholder="Deine Nachricht"></textarea>
                </div>
                <div class="checkbox-container">
                    <label for="privacy">Ich stimme der Erhebung, Verarbeitung und Nutzung meiner personenbezogenen
                        Daten
                        gemäß den <a href="#">Datenschutzrichtlinien</a> zu.</label>
                    <input name="privacy" id="privacy" type="checkbox">
                </div>



            </form>
        </div>
    </div>
</section>