@import "../../../styles.scss";

section {
  @include d-flex($fd: column);
  background-color: black;
  margin-bottom: -1px;

  .seperator {
    margin-top: -2px;
    height: 10vh;
    width: 100%;
    border: unset;
    background-image: linear-gradient(#fffcf3, #fffcf3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  }

  .container {
    width: 90%;
    @include d-flex($fd: column, $jc: flex-start, $g: 64px);

    .say-hi {
      align-self: flex-start;
    }
  }
}

.form-container {
  @include d-flex($fd: column, $g: 18px);
  color: #fffcf3;
  font-family: "Overpass", sans-serif;
  font-size: 23px;
  max-width: 60%;

  >span {
    text-align: center;
  }
}

h3 {
  color: #5987ff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

form {
  @include d-flex($fd: column, $g: 24px);
  width: 100%;
}

.input-container {
  box-sizing: border-box;
  position: relative;
  background-color: black;
  border: 4px solid transparent;
  height: 50px;
  width: 100%;
  >input {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    color: #fffcf3;
    background-color: black;
    padding: 15px 25px;
    border-style: none;
    border-bottom: 2px solid #fffcf3;
    width: 100%;
  
    &:hover {
      border: 4px solid #fffcf3;
    }
  }
}

.textarea-container {
  position: relative;
  height: 232px;
  width: 100%;
}

.input-container>label {
  background-color: black;
  position: absolute;
  color: #fffcf3;
  top: -9px;
  left: 24px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  background-color: black;
  border: 2px solid #fffcf3;
  color: #fffcf3;
  outline: #fffcf3;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

textarea {
  resize: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  color: #fffcf3;
  background-color: black;
  padding: 15px 25px;
  border-style: none;
  border-bottom: 2px solid #fffcf3;
  width: 100%;

  &:hover {
    border: 4px solid #fffcf3;
  }
}

input::placeholder,
textarea::placeholder {
  color: #fffcf3;
}

.checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  a {
    color: #fffcf3;
    &:hover {
      color: #5987ff;
    }
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 2px solid #fffcf3;
  width: 30px;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
    background-color: #fffcf3;
  }
  &:checked::before {
    transform: scale(1);
  }
  &:hover {
    color: black;
  }
}

input[type="submit"] {
  cursor: pointer;
  border-style: unset;
  border: 4px solid #fffcf3;
  padding: 20px 60px 20px 60px;
  font-family: 'Overpass', sans-serif;
  font-size: 23px;
  background-color: #000;
  color: #fffcf3;
  transition: padding 0.125s ease-in-out;
  &:hover:enabled {
    padding: 20px 80px;
    font-weight: 700;
  }
  &:active:enabled {
    background-color: #fffcf3;
    color: black ;
  }
  &:disabled {
    cursor: default;
    border-color: #a7a5a0;
    color: #a7a5a0;
  }
}

.disabled-btn {
  cursor: default !important;
  border-style: unset;
  border: 4px solid #a7a5a0 !important;
  padding: 20px 60px 20px 60px;
  font-family: 'Overpass', sans-serif;
  font-size: 23px;
  background-color: #000;
  color: #a7a5a0 !important;
  transition: padding 0.125s ease-in-out;
  &:hover {
    padding: 20px 60px 20px 60px !important;
    font-weight: 400 !important;
  }
  &:active {
    background-color: #000 !important;
    color: #a7a5a0 !important;
  }
}
  

h1 {
  color: #fffcf3;
  font-family: "Syne", sans-serif;
  font-size: 78px;
  font-weight: 800;

  &:hover {
    color: #5987ff;
  }
}

.alert {
  color: #5987ff;
  font-size: 16px;
}

