@import "../../../styles.scss";

section {
  @include d-flex($fd: column);
  background-color: black;
  margin-bottom: -1px;
  .seperator {
    margin-top: -2px;
    height: 10vh;
    width: 100%;
    border: unset;
    background-image: linear-gradient(#fffcf3, #fffcf3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  }
  .container {
    width: 90%;
    height: 1000px;
    @include d-flex($fd: column, $jc: flex-start, $g: 20px);
    .say-hi {
        align-self: flex-start;
    }
  }
}

.form-container {
    @include d-flex($fd: column, $g: 18px);
    color: #fffcf3;
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    max-width: 60%;
    h3 {
        color: #5987ff;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }
    >span {
        text-align: center;
    }

}

form {
    @include d-flex($fd: column, $g: 24px);
    width: 100%;
}
input {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: #fffcf3;
    background-color: black;
    padding: 15px 25px;
    border-style: none;
    border-bottom: 2px solid #fffcf3;
    width: 100%;
    &:hover {
        border: 4px solid #fffcf3;
    }
}

.input-container {
    box-sizing: border-box;
    position: relative;
    background-color: black;
    border: 4px solid transparent;
    height: 50px;
    width: 100%;
}

.input-container >label {
    background-color: black;
    position: absolute;
    color:#fffcf3;
    top: -9px;
    left: 24px;
    font-size: 16px;
    
}

input:focus, textarea:focus {
    background-color: black;
    border: 2px solid #fffcf3;
    color: #fffcf3;
    outline: #fffcf3;
}



input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
  }

textarea {
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: #fffcf3;
    background-color: black;
    padding: 15px 25px;
    border-style: none;
    border-bottom: 2px solid #fffcf3;
    width: 100%;
    &:hover {
        border: 4px solid #fffcf3;
    }
}

input::placeholder, textarea::placeholder {
    color: #fffcf3;
}

.checkbox-container label {
    position: static;
}

h1 {
  color: #fffcf3;
  font-family: "Syne", sans-serif;
  font-size: 78px;
  font-weight: 800;
  &:hover {
    color: #5987ff;
  }
}
