@import "../../../styles.scss";
$overpass: "Overpass", sans-serif;

h1 {
  font-family: "Syne", sans-serif;
  font-size: 128px;
  font-weight: 800;
}

h2 {
  font-family: "Overpass", sans-serif;
  color: #5987ff;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
  &::before {
    content: "";
    display: inline-block;
    position: relative;
    background-color: black;
    width: 600px;
    height: 3px;
    text-align: center;
    margin: 0 8px 16px 0;
  }
}

section {
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  @include d-flex();
  .container {
    width: 100%;
    @include d-flex($fd: column, $g: 40px);
    .headline {
      text-align: center;
    }
    .scroll-down {
      @include d-flex($jc: space-between);
      width: 90%;
      font-family: $overpass;
      font-size: 23px;
      font-weight: 300;
      .email-link {
        display: flex;
        position: relative;
        a {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.scroll-arrow {
  @include d-flex($fd: column, $jc: space-between, $g: 6px);
  height: 100%;
  div {
    position: relative;
    @include d-flex();
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
         animation: arrow-animation 1s infinite ease;
    }
  }
}

.btn {
  display: none;
}

@keyframes arrow-animation {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(96px);
    }
}

@media (max-width: 430px) {
  h1 {
    font-size: 36px;
  }

  .btn {
    display: block;
    padding: 20px 0;
    width: 276px;
    &:hover {
      padding: 20px 0;
    }
    &:active {
      padding: 20px 0;
    }
  }

  h2 {
    font-size: 23px;
    padding-right: 16px;
    &::before {
      width: 120px;
      margin: 0 8px 8px 0;
    }
  }
  
}
