@import "../../../styles.scss";

section {
  @include d-flex();
  margin-top: 80px;
  div {
    @include d-flex($jc: flex-end);
    width: 70%;
    height: 240px;
    position: relative;
    .arrow-short {
      position: absolute;
      top: 0;
      right: 0;
      transition: top 0.250s ease-in-out, right 0.250s ease-in-out;
    }
    .arrow-shaft {
      position: absolute;
      background-color: black;
      width: 80px;
      height: 4px;
      transform: rotate(-45deg);
      top: 70px;
      right: 32px;
      transition: top 0.125s ease-in-out, right 0.125s ease-in-out;
    }
  }
}

.start-arrow {
  top: 53px !important;
  right: 53px !important;
}

.start-shaft {
    top: 120px !important;
    right: 82px !important;
}

