@import "../../../styles.scss";

.mirror {
  transform: scale(-1, 1);
}

section {
  
  @include d-flex();
  margin-top: 32px;
  padding-bottom: 16px;
  div {
    @include d-flex($jc: flex-end);
    width: 70%;
    height: 240px;
    position: relative;
    .arrow-short {
      position: absolute;
      top: 0;
      right: 0;
      //transition: top 0.250s ease-in-out, right 0.250s ease-in-out;
    }
    .arrow-shaft {
      position: absolute;
      background-color: black;
      width: 80px;
      height: 4px;
      top: 70px;
      right: 32px;
      //transition: top 0.125s ease-in-out, right 0.125s ease-in-out;
    }
  }
}

[data-aos="arrow-animation"] {
  top: 0;
  right: 0;
  transition-property: top, right;

  &.aos-animate {
    top: 53px !important;
    right: 53px !important;
  }
}

[data-aos="shaft-animation"] {
  top: 70px;
  right: 32px;
  transform: rotate(-45deg);
  transition-property: transform, top, right;

  &.aos-animate {
    top: 120px !important;
    right: 82px !important;
  }
}

.start-arrow {
  top: 53px !important;
  right: 53px !important;
}

.start-shaft {
  top: 120px !important;
  right: 82px !important;
}

@media (max-width: 430px) {
  .mirror {
    transform: scale(-1, 1) translateX(32px);
  }
}




