<section>
    <div class="menu">
        <div class="top">
            <div (click)="closeDropDownMenu()" data-aos="fade-right" data-aos-duration="1000" class="link-container">
                <a href="#aboutMe"><h1>About me</h1></a>
                <div></div>
            </div>
            <div (click)="closeDropDownMenu()" data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000" class="link-container" >
                <a href="#mySkills"><h1>My skills</h1></a>
                <div></div>
            </div>
            <div (click)="closeDropDownMenu()" data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000" class="link-container">
                <a href="#portfolio"><h1>Portfolio</h1></a>
                <div></div>
            </div>
        </div>
        <div class="bottom">
            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200" data-aos-offset="-200">
                <a href="#"><h1>Say Hi!</h1></a>
            </div>
        </div>
    </div>
</section>
