@import "../../../styles.scss";

section {
  @include d-flex();
  .menu {
    position: relative;
    width: 100%;
    margin-top: 100px;
    height: calc(100vh - 100px);

    @include d-flex($fd: column);
    h1 {
      font-family: "Syne", sans-serif;
      font-size: 80px;
      font-weight: 700;
      @media (max-width: 1100px) {
        font-size: 68px;
      }
      @media (max-width:660px) {
        font-size: 56px;
      }
    }
    .top {
      @include d-flex($fd: column, $g: 64px);
      text-align: center;
      flex: 1;
      position: relative;
      height: 300px;
      width: 100%;
      background-image: linear-gradient(#FFFCF3, #FFFCF3);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
      z-index: 2;
    }
  }
}

.bottom {
  @include d-flex($ai: flex-start);
  background-color: black;
  width: 100%;
  padding: 200px 0 24px 0;
  margin-top: -224px;
  @media (max-width:1100px) {
    margin-top: -200px;
  }
  @media (max-width: 660px) {
    margin-top: -192px;
  }
  div {
    @include d-flex($jc: space-between);
    width: 90%;
    z-index: 1;
    width: 90%;
    a {
      color: #fffcf3;
      h1 {
        font-weight: 800;
        font-size: 96px;
        @media (max-width: 1100px) {
          font-size: 78px;
        }
        @media (max-width: 660px) {
          font-size: 64px;
        }
        @media (max-width: 540px) {
          font-size: 56px;
        }
        &:hover {
          color: #5987ff;
        }
      }
    }
    >img {
      cursor: pointer;
      width: 48px;
      align-self: flex-end;
      margin-bottom: 16px;
      filter: grayscale(1);
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: scale(1.15);
        filter: grayscale(0);
      }
    }
  }
}

.link-container {
  position: relative;
  width: 40vw;
  max-width: 500px;
  @media (max-width: 930px) {
    width: 55vh;
    max-width: 55vh;
  }
  @media (max-width: 660px) {
    width: 40vh;
    max-width: 40vh;
  }
  @media (max-width: 540px) {
    max-width: 35vh;
    width: 35vh;
  }
  div {
    border-left: 4px solid black;
    position: absolute;
    height: 40%;
    width: 7%;
    bottom: -22px;
    left: -32px;
    border-bottom: 4px solid black;
    transition: all 1s;
  }
  &:hover div {
    animation: hoverInAnimation 0.6s 1;
    height: 0;
    width: 45%;
    left: 50%;
  }
}

.hover-in-animation {
  animation: hoverInAnimation 1s 1;
  animation-fill-mode: forwards;
}

@keyframes hoverInAnimation {
  0% {
    height: 40%;
    width: 7%;
    left: -32px;
  }
  50% {
    height: 0px;
    width: 50%;
  }
  100% {
    height: 0px;
    width: 45%;
    left: 50%;
  }
}

 @media (max-width: 430px) {
    section {
      .menu {
        h1 {
          font-size: 36px;
        }
      }
    }

    .bottom {
      margin-top: -160px;
      >div {
        a {
          h1 {
            font-size: 40px;
          }
        }
        >img {
          width: 32px;
          align-self: center;
        }
      }
    }

    .link-container {
      width: 55%;
    }
 }
