@import '../../../styles.scss';

h1 {
    font-family: 'Syne', sans-serif;
    font-size: 78px;
    font-weight: 800;
    &:hover {
        color: #5987ff;
    }
    @media (max-width:850px) {
        font-size: 56px;
    }
}

section {
    padding-top: 80px;
    @include d-flex();
    .portfolio {
        width: 90%;
        @include d-flex($fd: column);
        @media (max-width:850px) {
            width: 80%;
        }
        .headline {
            @include d-flex($fd: column, $g:40px);
            span {
                font-family: 'overpass', sans-serif;
                font-size: 23px;
                @media (max-width:850px) {
                    text-align: center;
                }
            }
        }
        .projects {
            @include d-flex($fd: column, $g: 96px);
            margin-top: 64px;
        }
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 36px;
    }

    section {
        .portfolio {
            width: 90%;
            .headline {
                span {
                    width: 90%;
                }
            }
        }
    }
}