<section>
    <div class="portfolio">
        <div class="headline">
            <h1>Portfolio</h1>
            @if (!translateService.translated) {
                <span>Sieh dir ein paar meiner Projekte an und probiere sie aus, um meine Fähigkeiten zu testen.</span>
            } @else {
                <span>Take a look at some of my projects and try them out to test my skills.</span>
            }
        </div>
        <div class="projects">
            @for (project of projects; track project; let i = $index) {
                <app-project [project]=project [index]='i + 1' [amount]="projects.length"></app-project>
            }
        </div>
    </div>
</section>
