@import '../../../styles.scss';

h1 {
    font-family: 'Syne', sans-serif;
    font-size: 78px;
    font-weight: 800;
    &:hover {
        color: #5987ff;
    }
}

section {
    padding-top: 80px;
    @include d-flex();
    .portfolio {
        width: 90%;
        @include d-flex($fd: column);
        .headline {
            @include d-flex($fd: column, $g:40px);
            span {
                font-family: 'overpass', sans-serif;
                font-size: 23px;
            }
        }
        .projects {
            @include d-flex($fd: column, $g: 96px);
            margin-top: 64px;
        }
    }
}